.container {
    padding: 16px;
}

.list-item {
    margin: 16px;
}

.items-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.list-item-img {
    width: 180px;
    border-radius: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.list-item-text {
    margin : 8px 0px;
}