.card {
    min-width: 300px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 8px;
    border: 1px lightgray solid;
    border-radius: 8px;
}

.img {
    border-radius: 250px;
}
